@import '../assets/fonts/pretendard/pretendard.css';


.page-title {
    font-weight: 700;
    text-transform: uppercase;
}
.MuiTableCell-head,
.MuiButtonBase-root,
.MuiChip-root {
    white-space: nowrap;
}